# net device tg3
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="94:57:a5:5a:d9:c0", ATTR{dev_id}=="0x0", ATTR{type}=="1", NAME="eno1"

# net device tg3
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="94:57:a5:5a:d9:c1", ATTR{dev_id}=="0x0", ATTR{type}=="1", NAME="eno2"

...

# net device igb
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="5c:b9:01:89:26:7b", ATTR{dev_id}=="0x0", ATTR{type}=="1", NAME="eno52"
