[zram0]
host-memory-limit = 9048
zram-size = min(ram / 10, 2048)
compression-algorithm = lzo-rle
options =
writeback-device = /dev/zvol/tarta-zoot/swap-writeback

[zram1]
zram-size = ram / 10
fs-type = ext2
mount-point = /run/compressed-mount-point
