SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="ff:ff:ff:ff:ff:ff", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="ee:ee:ee:ee:ee:ee", NAME="wlan0"
