# own udev rule USB LTE 
# switch from mass storage mode to modem modem
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="a69c", ATTRS{idProduct}=="5721", RUN+="/usr/sbin/usb_modeswitch usb_modeswitch -KQ -v a69c -p 5721"
# load driver for modem mode
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="a69c", ATTRS{idProduct}=="5721", RUN+="/bin/bash -c 'modprobe aic8800_fdrv && modprobe aic_load_fw'"
