[Unit]
Description=ipmi_exporter
Wants=network-online.target
After=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=ipmi-exporter
Group=ipmi-exporter
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/ipmi_exporter \
  --config.file=/etc/prometheus/ipmi_remote.yml \
  --web.listen-address=0.0.0.0:9290

[Install]
WantedBy=multi-user.target
