apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    component: kube-apiserver
    tier: control-plane
  name: kube-apiserver
  namespace: kube-system
spec:
  containers:
  - command:
    - kube-apiserver
    - --request-timeout=2m3s
    image: gcr.io/google_containers/kube-apiserver-amd64:v1.6.0
    ...
