Host *
    ServerAliveInterval 60
    ControlMaster auto
    ControlPath ~/.ssh/%h-%p-%r
    ControlPersist yes

Host parent-squid
    HostName parent-squid.huatai.me
    User admin
    LocalForward 4128 127.0.0.1:3128
