acpi_tables_in_memory=true
memory.size=4G
x86.vmexit_on_hlt=true
x86.vmexit_on_pause=true
x86.strictmsr=false
lpc.fwcfg=bhyve
lpc.com1.path=stdio
lpc.bootrom=/usr/local/share/uefi-firmware/BHYVE_UEFI.fd
lpc.bootvars=/zdata/vms/ubuntu_BHYVE_UEFI_VARS.fd
acpi_tables=true
cpus=2
pci.0.0.0.device=hostbridge
pci.0.4.0.device=virtio-blk
pci.0.4.0.path=/dev/zvol/zdata/vms/ubuntu
pci.0.5.0.device=virtio-net
pci.0.5.0.backend=tap0
pci.0.29.0.device=fbuf
pci.0.29.0.tcp=0.0.0.0:5900
pci.0.29.0.w=800
pci.0.29.0.h=600
pci.0.29.0.wait=true
pci.0.30.0.device=xhci
pci.0.30.0.slot.1.device=tablet
pci.0.31.0.device=lpc
config.dump=1
name=ubuntu
