[connection]
id=Wired connection 1
uuid=c76cf7a8-9e5e-37f8-bbf6-792ccd3c595c
type=ethernet
autoconnect-priority=-999
interface-name=eth0

[ethernet]

[ipv4]
address1=192.168.1.211/24,192.168.1.1
dns=192.168.1.1;
dns-search=cloud-atlas.io;
method=manual

[ipv6]
addr-gen-mode=default
method=disabled

[proxy]
