alabaster
Babel
certifi
charset-normalizer
docutils
idna
imagesize
jieba
Jinja2
MarkupSafe
packaging
Pygments
requests
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-video
sphinxcontrib-youtube
sphinxnotes-strike
urllib3
