Host *
    ServerAliveInterval 60
    ControlMaster auto
    ControlPath ~/.ssh/%h-%p-%r
    ControlPersist yes
    Compression yes

Host dev-gw
    HostName 127.0.0.1
    Port 122
    User admin
    IdentityFile ~/.ssh/id_rsa_fedora-dev
    RemoteForward 111 127.0.0.1:111
    RemoteForward 685 127.0.0.1:685
    RemoteForward 1003 127.0.0.1:1003
    RemoteForward 1017 127.0.0.1:1017
    RemoteForward 1021 127.0.0.1:1021
    RemoteForward 2049 127.0.0.1:2049
